.classpath
.DS_Store
node_modules
dist
target
.mvn
.project
.settings
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/config_map_aws_auth.yaml

tests/e2e/videos/
tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
